#home {
    background-size: cover;
    background-position: center;
    height: 70vh; 
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  #home h2 {
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center;
  }