@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-primary: 'Epilogue', sans-serif;
  --background-color: #6d6460;
  --primary-color: rgba(255, 255, 255, 0.87);
  --accent-color: #333c3a;
  --text-color: #282222;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--background-color);
}

* {
  font-family: var(--font-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1em;
  font-size: 0.7em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--accent-color);
}

